.navbar-default1 {
  background-color: #37a7e7;
  border-color: #1995dc;
  margin-top: 20px;
  width: 100%;
}
.navbar-default1 .navbar-brand {
  color: #ecf0f1;
}
.navbar-default1 .navbar-brand:hover,
.navbar-default1 .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-default1 .navbar-text {
  color: #ecf0f1;
}
.navbar-default1 .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default1 .navbar-nav > li > a:hover,
.navbar-default1 .navbar-nav > li > a:focus {
  color: #ecdbff;
  background-color: #1995dc;
}
.navbar-default1 .navbar-nav > .active > a,
.navbar-default1 .navbar-nav > .active > a:hover,
.navbar-default1 .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #1995dc;
}
.navbar-default1 .navbar-nav > .open > a,
.navbar-default1 .navbar-nav > .open > a:hover,
.navbar-default1 .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #1995dc;
}
.navbar-default1 .navbar-toggle {
  border-color: #1995dc;
}
.navbar-default1 .navbar-toggle:hover,
.navbar-default1 .navbar-toggle:focus {
  background-color: #1995dc;
}
.navbar-default1 .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default1 .navbar-collapse,
.navbar-default1 .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default1 .navbar-link {
  color: #ecf0f1;
}
.navbar-default1 .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 767px) {
  .navbar-default1 .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default1 .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default1 .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-default1 .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default1 .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default1 .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #1995dc;
  }
}