.row-home-page{
	width: 870px;
}

.heade-article-homepage{
        height: 82px;
}





.article-homepage{
	width: 270px; 
	float: left; 
	margin-right: 20px;
        height: 380px;
}

.bubble h2{
	background-color: lightblue;
        color: black;
}



.image-homepage{
	width:280px; 
	height:200px; 
	padding-left: 10px; 
	border: 1px solid lightblue;
}

.article-content-homepage{
	padding: 12px;
}

.clear-article-homepage{
	clear:left;
}