.thumbnail-listpage{
	width: 30%;
	float: left; 
	padding: 10px;
}

#sort-button{
    position: absolute;
    margin-top: -40px;
    margin-left: 680px;
}

#clear-bubble-listpage{
    clear: left;
}

.image-thumbnail-listpage{
	width: 100%; 
	height: 170px;
}

.create_each_introduce p{
        color: #37a7e7;
}

.article-content-listpage{
	width: 70%;
	float: left;
}

.clear-content-listpage{
	clear: left;
}