body {
    background-color: #e7e7e7;
    width: 100%;
    min-width: 1200px;
    overflow: auto;
}

.header-container{
	margin-top: 5px;
	margin-bottom: -8px;
}


#head-login{
	float: right; 
	margin-right: 20px;
}

.head-login a:hover{
	text-decoration: none;
	color: orange;
}


#logopage{
	width:50px; 
	height:50px;
}

#logo-description{
	width:80px; 
	height:50px;
}

#head-list-logo{
	float: right;
	margin-right: 50px;
}

.list-logo li{
	list-style: none;
	display: inline-block;
	width: 50px; 
	height: 50px;
	border-width: 100px;
	border: 2px solid #FFFFFF; 
	border-radius: 50px;
	margin-left: 15px;
}

.image-list-logo{
    width: 60px; 
	height: 60px;
	cursor: pointer;
    margin-top: -7px;
    margin-left: -7px;
}

/*.list-logo li img{
	display: block;
	width: 100%; 
	height: 100%;
	cursor: pointer;
	transition: width 0.5s ease 0s;
	vertical-align: center;
}*/

.col-sm-9 h2{
	padding-top: -10px;
}

.bubble{
        background-color: #58c9f1;
        color: black;
	width: 850px; 
}

.bubble .topic_title{
	background-color: #58c9f1; 
        color: #58c9f1;
	width: 850px; 
}


.leftcontain{
    margin-top: -32px;
}

.left-content{
	border-right: 1px solid #dddddd;
	border-bottom: 5px solid #dddddd;
	margin-top: 0px; 
	background-color: #F5F5F5;
}

.right-content{
	background:#f2f2f2; 
	width: 24%; 
	height: 1405px; 
	margin-left: 5px; 
	padding: 0px;
}

.right-content-wrap{
	width: 100%; 
	float: left;
}

#sponsor-wrap{
	margin-left: -10px;
}

#advertise-wrap{
	margin-left: -10px; 
	margin-right: -10px;
}

#footer{
    background-color: #37a7e7;

    /*background: #D5F5F7; /* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(#9ED7F7, #37A7E7); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(#9ED7F7, #37A7E7); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(#9ED7F7, #37A7E7); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(#9ED7F7, #37A7E7); /* Standard syntax (must be last) */
}

.container-fluid{
	padding: 0px;
}

.col-sm-9{
	padding: 12.5px;
}

#footer{
	padding-left: 70px;
	color: white;
}

#footer .container{
}

#footer ul{
	width: 28%;
	height: 300px;
	margin-top: 10px;
	padding-top: 20px;
}

#footer_logo h1{
	margin-left: -20px;
}

#footer_logo{
	border-right: 1px solid #41cac0;
}

#footer_collaborate{
	border-right: 1px solid #41cac0;
	margin-left: 50px; 
	float: left;
}

#footer_about{
	margin-left: 50px; 
	float: left;
}

#footer .container #footer_logo{
	float: left; 
}

#footer .container #footer_logo img{
	width: 150px; 
	height: 150px;
}


.list_article_each{
	border-top: 2px solid #ececec;
	border-right: 2px solid #ececec;
	border-bottom: 3px solid #ececec;
	border-left: 2px solid #ececec;
	background-color: #FFFFFF; 
	margin-bottom: 10px;
}


.title_each_introduce{
}

.content_each_introduce{
}

/*noi dung chi tiet bai bao*/
.article_detailed_datetime{
	color: #37a7e7;
}

.author span{
	color: #37a7e7;
}

/*muc quang cao ben phai*/
.sponsor-image{
	width: 100%;
	height: 100px;
}


#first-advertise {
	height: 400px;
}

#first-advertise img{
	width: 100%;
}

#second-advertise{
	margin-top: 0px;
	height: 400px;
}

#second-advertise img{
	width: 100%;
}